.columns {
    padding: 5rem 0;

    .col-item {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: $color-light-black;
            font-size: 1.25rem;
            text-align: center;
        }
    
        img {
            max-width: 100%;
            height: auto;
        }
    }
}